<h1>結帳</h1>

<%= render 'carts/cart' %>

<%= simple_form_for(@order) do |form| %>
  <%= form.input :recipient %>
  <%= form.input :phone %>
  <%= form.input :address %>
  <%= form.input :note %>

  <%= form.submit '建立訂單', class: 'btn btn-success btn-lg' %>
<% end %>